* {
    font-family: "Arial";
}

h1 {
    color: royalblue;
    margin: 20px auto auto 20px;
}

small {
    margin: auto auto auto 20px;
}

h3 {
    margin: auto auto 15px 20px;
}

.container-left-padded {
    margin: 10px auto auto 20px;
}

.special-welcome-header {
    display: inline-block;
    font-size: 13px;
    margin: 0px auto 3px 20px;
}

.special-last-login-header {
    display: block;
    font-size: 12px;
}

.special-logout-header {
    display: inline-block;
    font-size: 12px;
}

.logout-link-text {
    text-decoration: none;
}

.special-welcome-header-n {
    margin: 0px auto 5px 20px;
}

.special-category-title-header {
    margin: 20px auto 3px 20px;
}

.special-category-description-text {
    font-size: 13px;
    margin: 0px auto 20px 20px;
}

.navigation {
    margin: auto auto 10px 20px;
}

.navigation-links-container {
    float: left;
    margin: 5px auto auto auto;
}

.page-topic {
    margin: 10px auto 20px 20px;
}

.page-topic-username {
    margin: 10px auto auto 20px;
}

.register-form {
    margin: auto auto auto 20px;
}

.current-page {
    color: grey;
}

.header-sep {
    margin: 15px 23px auto auto;
}

.incorrect-login {
    color: red;
    font-weight: bold;
}

.incorrect-login-container {
    margin: auto auto auto 20px;
}

.incorrect-login-content {
    margin: auto;
}

.permissions {
    font-size: 12px;
    margin: 10px auto auto auto;
}

.quick-register-form {
    margin: auto auto 10px auto;
}

.secondary-view {
    color: gray;
}

.user-nav-panel {
    text-align: right;
    width: 50%;
    float: right;
    margin: 5px auto auto auto;
}

.nav-panel-container {
    margin: auto 25px auto auto;
}

.main-paragraph {
    font-size: 13px;
    margin: 0px auto auto 20px;
}

.spacing {
    margin: 10px auto auto auto;
}

.categories-container {
    margin: 30px auto auto 20px;
}

.category-title {
    display: block;
    margin: 5px;
}

.category-title-text {
    margin: auto auto auto auto;
    font-size: 18px;
}

.category-description {
    display: block;
    margin: 5px;
}

.category-description-text {
    margin: 3px auto auto auto;
    font-size: 13px;

}

.category-row {
    margin: auto auto 20px auto;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 75%;
    float: left;
    background: #f7f7f7;
}

.user-information-container {
    text-align: right;
    margin: -29px 25px auto auto;
    float: right;
}

.nav-container {
    display: inline-block;
    width: 100%;
}

.breadcrumb-link {
    margin: auto auto auto auto;
}

.breadcrumb-link-text {
    margin: auto auto auto 5px;
}

.breadcrumb-container {
    margin: auto auto auto 15px;
}

.posts {
    margin: auto auto auto 20px;
}

.post-title-text {

}

.post-description {
    width: 80%;
    display: inline-block;
}

.user-information {
    display: inline-block;
    text-align: left;
    width: auto;
    margin: auto 20px auto 5px;
}

.user-information-information {
    display: block;
}

.user-information-date {
    display: block;
}

.post-title {
    display: block;
    margin: 5px auto auto 5px;
}

.post-user {
    display: inline-block;
}

.post-row {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: auto auto 20px auto;
    width: 75%;
    float: left;
    background: #f7f7f7;
}

.post-date {
    display: inline-block;
}

.post-detail {
    margin: auto auto 6px auto;
}

.post-detail-container {
    margin: 25px auto auto 20px;
}

.post-detail-title-text {
    margin: auto auto auto auto;
}

.post-detail-user-information {
    margin: auto auto auto auto;
}

.post-detail-post-body {
    width: 75%;
}

.post-detail-sep {
    margin: 10px 23px 15px auto;
}

.post-detail-info {
    text-align: right;
    margin: auto 23px auto auto;
}

.post-detail-info-text {
    display: block;
    font-size: 12px;
}

.post-detail-info-text-date {

}

.post-detail-body-text {
    font-size: 15px;
}

.post-comment-container {
    margin: auto auto auto 20px;
}

.post-comment-heading {
    margin: auto auto auto auto;
}

.comment-comment {
    margin: 10px auto 10px auto;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 98.3%;
    float: left;
    background: #f7f7f7;
}

.comment {
    margin: 20px auto auto 0px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 98.3%;
    display: block;
    background: #f7f7f7;
}

.comment-text {
    display: block;
    margin: 5px;
}

.comment-hide {
    display: inline-block;
}

.replies {
    margin: auto auto auto 2%;
}

.comment-info {
    display: block;
    margin: 5px;
}

.bottom-page {
    margin: auto auto 50px auto;
}

.add-comment {
    margin: 10px auto auto auto;
}

.add-reply {
    display: none;
    margin: 5px auto 5px 5px;;
}

.comment-text-area {
    display: block;
}

.comment-submit {
    margin: 10px auto auto auto;
}