{% extends 'main.html' %}{% load mptt_tags %}{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} QuestionsDB {% endblock %}</title>
</head>
<body>
{% block pageheaders %}
    <h1>QuestionsDB</h1>
    <h3>The answer to every question!</h3>
{% endblock %}

{% block pagecontent %}
    <div class="post-detail-container">
        <h2 class="post-detail-title-text">{{ post.get_title }}</h2>
        <div class="user-information post-detail-user-information">
            {% url 'profile_page' post.user.get_username as profile_url %}
            <p class="category-description-text post-user">
                Posted by <a href="{% url 'profile_page' post.user.id post.user.get_username %}">{{ post.user.get_username }}</a>
            </p> ·
            <p class="category-description-text post-date">{{ post.get_date_posted|naturaltime }}</p>
        </div>
        <div class="post-detail-post-body">
            <p class="post-detail-body-text">
                {{ post.get_body|linebreaksbr }}
            </p>
        </div>
        <div class="post-detail-info">
            <small class="post-detail-info-text">Last editied: {{ post.get_date_modified|naturaltime }}</small>
            <small class="post-detail-info-text post-detail-info-text-date">12 views</small>
        </div>
        <hr class="post-detail-sep">
    </div>
    <div class="post-comment-container">
        <h3 class="post-comment-heading">Comments</h3>
        {% if request.user.is_authenticated %}
            <div class="add-comment">
                <form action="">
                    <textarea placeholder="enter your comment here" class="comment-text-area" name="user-comment" id="" cols="50" rows="10"></textarea>
                    <input class="comment-submit" type="submit" value="Submit">
                </form>
            </div>
        {% endif %}
        {% recursetree comments %}
            <div class="comment">
                <p class="comment-text">{{ node.comment }}</p>
                <small class="comment-info">
                    by <a class="comment-user" href="{% url 'profile_page' node.user.id node.user.username %}">{{ node.user.username }}</a>, {{ node.date_posted|naturaltime }}
                    {% if not node.is_leaf_node %}
                        · <a class="comment-hide" href="#">hide replies</a>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        · <a class="comment-reply" href="#">reply</a>
                    {% endif %}
                </small>
                <div class="add-comment add-reply">
                    <form action="">
                        <textarea placeholder="enter your reply here" class="comment-text-area" name="user-comment" id="" cols="50" rows="10"></textarea>
                        <input class="comment-submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="comment-container">
                <div class="replies">
                    {{ children }}
                </div>
            </div>
        {% endrecursetree %}
    </div>
    <div class="bottom-page">

    </div>
{% endblock %}

</body>
</html>