{% extends 'main.html' %}
{% load mptt_tags %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} QuestionsDB {% endblock %}</title>
</head>
<body>
{% block pageheaders %}
    <h1>QuestionsDB</h1>
    <h3>The answer to every question!</h3>
{% endblock %}

{% block pagecontent %}
    <h3 class="special-category-title-header">{{ category.name }}</h3>
    <h5 class="special-category-description-text">{{ category.description }}</h5>
    <div class="posts">
        {% if posts.count == 0 %}
            <h5>Looks like there's nothing here. Check back later.</h5>
        {% else %}
            {% recursetree posts %}

                <div class="post-row">
                    <div class="post-title">
                        <h2 class="category-title-text">
                            <a href="{{ node.get_id }}/{{ node.get_slug }}">{{ node.get_title }}</a>
                        </h2>
                    </div>
                    <div class="user-information">
                        <p class="category-description-text post-user">by
                            <a href="{% url 'profile_page' node.user.id node.user.username %}">{{ node.user.get_username }}</a>
                        </p> ·
                        <p class="category-description-text post-date">{{ node.get_date_posted|naturaltime }}</p>
                    </div>
                    <div class="post-detail">
                        <div class="category-description">
                            <p class="category-description-text">{{ node.get_body|truncatewords:45 }}</p>
                        </div>

                    </div>
                </div>

            {% endrecursetree %}
        {% endif %}
    </div>
{% endblock %}

</body>
</html>