{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} QuestionsDB {% endblock %}</title>
</head>
<body>
{% block pageheaders %}
    <h1>QuestionsDB</h1>
    <h3>The answer to every question!</h3>
{% endblock %}

{% block pagecontent %}
    <h3>{{ category.name }}</h3>
    <div class="posts">
        {% if posts.count == 0 %}
            <h5>Looks like there's no posts here. Check back later.</h5>
        {% else %}
            {% for post in posts %}
                <div class="post-row">
                    <div class="post-title">
                        <h2 class="category-title-text">
                            <a href="{{ post.get_id }}/{{ post.get_slug }}?p={{ category.id }}&c={{ category.sub_category_id }}">{{ post.get_title }}</a>
                        </h2>
                    </div>
                    <div class="user-information">
                        {% url 'profile_page' post.user.get_username as profile_url %}
                        <p class="category-description-text post-user">by
                            <a href="{% url 'profile_page' post.user.id post.user.get_username %}">{{ post.user.get_username }}</a>
                        </p> ·
                        <p class="category-description-text post-date">{{ post.get_date_posted }}</p>
                    </div>
                    <div class="post-detail">
                        <div class="category-description">
                            <p class="category-description-text">{{ post.get_body|truncatewords:35 }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

</body>
</html>