{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Register &bull; QuestionsDB {% endblock %}</title>
</head>
<body>
{% block pageheaders %}
    <h1>QuestionsDB</h1>
    <h3>The answer to every question!</h3>
{% endblock %}

{% block pagecontent %}
    <h3 class="page-topic">Create an account to start asking questions</h3>
    <form class="register-form" method="post" action="{% url 'register_page' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="username" name="username"><br></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"><br></td>
            </tr>
            <tr>
                <td>Re-type Password:</td>
                <td><input type="password" name="confirmpassword"><br></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="email" name="email"><br></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Create Account"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}
</body>
</html>